{% extends 'Admin/layout.html' %} {% block content %}

<div class="page-body" style="margin-left: 0px">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-xl-4 col-sm-7 box-col-3">
          <h3>Courses List</h3>
        </div>
        <div class="col-5 d-none d-xl-block">
          <!-- Page Sub Header Start-->
          <div class="left-header main-sub-header p-0">
            <div class="left-menu-header">
              <ul class="header-left">
                <li class="onhover-dropdown">
                  <span class="f-w-700">General </span>
                  <ul class="onhover-show-div left-dropdown">
                    <li class="flyout-right">
                      <a href="#">Dashboards</a
                      ><i class="fa fa-angle-right"></i>
                      <ul>
                        <li><a href="index.html">Default </a></li>
                        <li>
                          <a href="dashboard-02.html">Ecommerce</a>
                        </li>
                      </ul>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Widgets</a><i class="fa fa-angle-right"></i>
                      <ul>
                        <li>
                          <a href="general-widget.html">General</a>
                        </li>
                        <li><a href="chart-widget.html">chart</a></li>
                      </ul>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Page layout</a
                      ><i class="fa fa-angle-right"></i>
                      <ul>
                        <li><a href="box-layout.html">Boxed </a></li>
                        <li><a href="layout-rtl.html">RTL</a></li>
                        <li>
                          <a href="layout-dark.html">Dark Layout</a>
                        </li>
                        <li>
                          <a href="footer-light.html">footer-light.html</a>
                        </li>
                        <li>
                          <a href="footer-dark.html">footer-dark.html</a>
                        </li>
                        <li>
                          <a href="footer-fixed.html">footer-fixed.html</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="onhover-dropdown">
                  <span class="f-w-700">Components</span>
                  <ul class="onhover-show-div left-dropdown">
                    <li class="flyout-right">
                      <a href="#">Ui Kits</a>
                      <ul>
                        <li>
                          <a href="typography.html">Typography</a>
                        </li>
                        <li><a href="avatars.html">Avatars</a></li>
                        <li>
                          <a href="helper-classes.html">helper classes</a>
                        </li>
                        <li><a href="grid.html">Grid</a></li>
                        <li>
                          <a href="tag-pills.html">Tag & pills</a>
                        </li>
                        <li>
                          <a href="progress-bar.html">Progress</a>
                        </li>
                        <li><a href="modal.html">Modal</a></li>
                        <li><a href="alert.html">Alert</a></li>
                        <li><a href="popover.html">Popover</a></li>
                        <li><a href="tooltip.html">Tooltip</a></li>
                        <li><a href="dropdown.html">Dropdown</a></li>
                        <li><a href="according.html">Accordion</a></li>
                        <li><a href="tab-bootstrap.html">Tabs</a></li>
                        <li><a href="list.html">Lists</a></li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Bonus Ui</a>
                      <ul>
                        <li>
                          <a href="scrollable.html">Scrollable</a>
                        </li>
                        <li><a href="tree.html">Tree view</a></li>
                        <li><a href="toasts.html">Toasts</a></li>
                        <li><a href="rating.html">Rating</a></li>
                        <li><a href="dropzone.html">dropzone</a></li>
                        <li><a href="tour.html">Tour</a></li>
                        <li>
                          <a href="sweet-alert2.html">SweetAlert2</a>
                        </li>
                        <li>
                          <a href="modal-animated.html">Animated Modal</a>
                        </li>
                        <li>
                          <a href="owl-carousel.html">Owl Carousel</a>
                        </li>
                        <li><a href="ribbons.html">Ribbons</a></li>
                        <li>
                          <a href="pagination.html">Pagination</a>
                        </li>
                        <li>
                          <a href="breadcrumb.html">Breadcrumb</a>
                        </li>
                        <li>
                          <a href="range-slider.html">Range Slider</a>
                        </li>
                        <li>
                          <a href="image-cropper.html">Image cropper</a>
                        </li>
                        <li>
                          <a href="basic-card.html">Basic Card</a>
                        </li>
                        <li>
                          <a href="creative-card.html">Creative Card</a>
                        </li>
                        <li>
                          <a href="dragable-card.html">Draggable Card</a>
                        </li>
                        <li>
                          <a href="timeline-v-1.html">Timeline </a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Animation</a>
                      <ul>
                        <li><a href="animate.html">Animate</a></li>
                        <li>
                          <a href="scroll-reval.html">Scroll Reveal</a>
                        </li>
                        <li><a href="AOS.html">AOS animation</a></li>
                        <li><a href="tilt.html">Tilt Animation</a></li>
                        <li><a href="wow.html">Wow Animation</a></li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Icons</a>
                      <ul>
                        <li><a href="flag-icon.html">Flag icon</a></li>
                        <li>
                          <a href="font-awesome.html">Fontawesome Icon</a>
                        </li>
                        <li><a href="ico-icon.html">Ico Icon</a></li>
                        <li>
                          <a href="themify-icon.html">Themify Icon</a>
                        </li>
                        <li>
                          <a href="feather-icon.html">Feather icon</a>
                        </li>
                        <li>
                          <a href="whether-icon.html">Whether Icon</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Buttons</a>
                      <ul>
                        <li>
                          <a href="buttons.html">Default Style</a>
                        </li>
                        <li>
                          <a href="button-group.html">Button Group</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Charts</a>
                      <ul>
                        <li><a href="echarts.html">Echarts</a></li>
                        <li>
                          <a href="chart-apex.html">Apex Chart</a>
                        </li>
                        <li>
                          <a href="chart-google.html">Google Chart</a>
                        </li>
                        <li>
                          <a href="chart-sparkline.html">Sparkline chart</a>
                        </li>
                        <li>
                          <a href="chart-flot.html">Flot Chart </a>
                        </li>
                        <li>
                          <a href="chart-knob.html">Knob Chart</a>
                        </li>
                        <li>
                          <a href="chart-morris.html">Morris Chart</a>
                        </li>
                        <li><a href="chartjs.html">Chatjs Chart</a></li>
                        <li>
                          <a href="chartist.html">Chartist Chart</a>
                        </li>
                        <li>
                          <a href="chart-peity.html">Peity Chart</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                  </ul>
                </li>
                <li class="onhover-dropdown">
                  <span class="f-w-700">Applications</span>
                  <ul class="onhover-show-div left-dropdown">
                    <li class="flyout-right">
                      <a href="#">Project</a>
                      <ul>
                        <li>
                          <a href="projects.html">Project List</a>
                        </li>
                        <li>
                          <a href="projectcreate.html">Create new</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                      <a href="file-manager.html">File manager</a>
                    </li>
                    <li><a href="kanban.html">kanban Board </a></li>
                    <li class="flyout-right">
                      <a href="#">Ecommerce </a>
                      <ul>
                        <li>
                          <a href="add-products.html">Add Product</a>
                        </li>
                        <li><a href="product.html">Product</a></li>
                        <li>
                          <a href="product-page.html">Product page</a>
                        </li>
                        <li>
                          <a href="list-products.html">Product list</a>
                        </li>
                        <li>
                          <a href="payment-details.html">Payment Details</a>
                        </li>
                        <li>
                          <a href="order-history.html">Order History</a>
                        </li>
                        <li class="flyout-right">
                          <a class="submenu-title" href="#">Invoices</a>
                          <ul>
                            <li>
                              <a href="invoice-1.html">Invoice-1</a>
                            </li>
                            <li>
                              <a href="invoice-2.html">Invoice-2</a>
                            </li>
                            <li>
                              <a href="invoice-3.html">Invoice-3</a>
                            </li>
                            <li>
                              <a href="invoice-4.html">Invoice-4</a>
                            </li>
                            <li>
                              <a href="invoice-5.html">Invoice-5</a>
                            </li>
                            <li>
                              <a href="invoice-template.html">Invoice-6</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="list-wish.html">Wishlist</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="pricing.html">Pricing </a></li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Email</a>
                      <ul>
                        <li><a href="letter-box.html">Email App</a></li>
                        <li>
                          <a href="email-compose.html">Email Compose</a>
                        </li>
                        <li>
                          <a href="letter-box.html">Letter Box</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"> </i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Chat</a>
                      <ul>
                        <li>
                          <a href="private-chat.html">Private Chat</a>
                        </li>
                        <li>
                          <a href="group-chat.html">Group Chat</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">User</a>
                      <ul>
                        <li>
                          <a href="user-profile.html">Users Profile</a>
                        </li>
                        <li>
                          <a href="edit-profile.html">Users Edit</a>
                        </li>
                        <li>
                          <a href="user-cards.html">Users Cards</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"> </i>
                    </li>
                    <li><a href="bookmark.html">Bookmarks</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="task.html">Task</a></li>
                    <li><a href="calendar-basic.html">Calendar</a></li>
                    <li><a href="social-app.html">Social-app</a></li>
                    <li><a href="to-do.html">To-Do</a></li>
                    <li><a href="search.html">Search Result</a></li>
                  </ul>
                </li>
                <li class="onhover-dropdown">
                  <span class="f-w-700">Pages</span>
                  <ul class="onhover-show-div left-dropdown">
                    <li><a href="blog.html">Landing page</a></li>
                    <li><a href="blog-single.html">Sample page</a></li>
                    <li><a href="add-post.html">Starter kit</a></li>
                    <li class="flyout-right">
                      <a href="#">Others </a><i class="fa fa-angle-right"></i>
                      <ul>
                        <li class="flyout-right">
                          <a href="#">Error Page</a>
                          <ul>
                            <li>
                              <a href="error-400.html">Error 400</a>
                            </li>
                            <li>
                              <a href="error-401.html">Error 401</a>
                            </li>
                            <li>
                              <a href="error-403.html">Error 403</a>
                            </li>
                            <li>
                              <a href="error-404.html">Error 404</a>
                            </li>
                            <li>
                              <a href="error-500.html">Error 500</a>
                            </li>
                            <li>
                              <a href="error-503.html">Error 503</a>
                            </li>
                          </ul>
                          <i class="fa fa-angle-right"> </i>
                        </li>
                        <li class="flyout-right">
                          <a href="#">Authentication</a>
                          <ul>
                            <li>
                              <a href="login.html" target="_blank"
                                >Login Simple</a
                              >
                            </li>
                            <li>
                              <a href="login_one.html" target="_blank"
                                >Login with bg image</a
                              >
                            </li>
                            <li>
                              <a href="login_two.html" target="_blank"
                                >Login with image two
                              </a>
                            </li>
                            <li>
                              <a href="login-bs-validation.html" target="_blank"
                                >Login With validation</a
                              >
                            </li>
                            <li>
                              <a
                                href="login-bs-tt-validation.html"
                                target="_blank"
                                >Login with tooltip</a
                              >
                            </li>
                            <li>
                              <a href="login-sa-validation.html" target="_blank"
                                >Login with sweetalert</a
                              >
                            </li>
                            <li>
                              <a href="sign-up.html" target="_blank"
                                >Register Simple</a
                              >
                            </li>
                            <li>
                              <a href="sign-up-one.html" target="_blank"
                                >Register with Bg Image
                              </a>
                            </li>
                            <li>
                              <a href="sign-up-two.html" target="_blank"
                                >Register with image two</a
                              >
                            </li>
                            <li>
                              <a href="sign-up-wizard.html" target="_blank"
                                >Register wizard</a
                              >
                            </li>
                            <li>
                              <a href="unlock.html">Unlock User</a>
                            </li>
                            <li>
                              <a href="forget-password.html">Forget Password</a>
                            </li>
                            <li>
                              <a href="reset-password.html">Reset Password</a>
                            </li>
                            <li>
                              <a href="maintenance.html">Maintenance</a>
                            </li>
                          </ul>
                        </li>
                        <li class="flyout-right">
                          <a href="#">Coming Soon</a>
                          <ul>
                            <li>
                              <a href="comingsoon.html">Coming Simple</a>
                            </li>
                            <li>
                              <a href="comingsoon-bg-video.html"
                                >Coming with Bg video</a
                              >
                            </li>
                            <li>
                              <a href="comingsoon-bg-img.html"
                                >Coming with Bg Image</a
                              >
                            </li>
                          </ul>
                          <i class="fa fa-angle-right"> </i>
                        </li>
                        <li class="flyout-right">
                          <a href="#">Email templates</a>
                          <ul>
                            <li>
                              <a href="basic-template.html">Basic Email</a>
                            </li>
                            <li>
                              <a href="email-header.html">Basic With Header</a>
                            </li>
                            <li>
                              <a href="template-email.html"
                                >Ecomerce Template</a
                              >
                            </li>
                            <li>
                              <a href="template-email-2.html"
                                >Email Template 2</a
                              >
                            </li>
                            <li>
                              <a href="ecommerce-templates.html"
                                >Ecommerce Email</a
                              >
                            </li>
                            <li>
                              <a href="email-order-success.html"
                                >Order Success</a
                              >
                            </li>
                          </ul>
                          <i class="fa fa-angle-right"></i>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="onhover-dropdown p-0">
                  <span class="f-w-700">Miscellaneous</span>
                  <ul class="onhover-show-div left-dropdown">
                    <li class="flyout-right">
                      <a href="#">Gallery</a>
                      <ul>
                        <li><a href="gallery.html">Gallery Grid</a></li>
                        <li>
                          <a href="gallery-with-description.html"
                            >gallery-with-description</a
                          >
                        </li>
                        <li>
                          <a href="gallery-masonry.html">gallery-masonry</a>
                        </li>
                        <li>
                          <a href="masonry-gallery-with-disc.html"
                            >masonry-gallery-with-disc</a
                          >
                        </li>
                        <li>
                          <a href="gallery-hover.html">gallery-hover</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Blog</a>
                      <ul>
                        <li><a href="blog.html">blog</a></li>
                        <li>
                          <a href="blog-single.html">blog-single</a>
                        </li>
                        <li><a href="add-post.html">add-post</a></li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li><a href="FAQ.html">FAQ</a></li>
                    <li class="flyout-right">
                      <a href="#">Job Search</a>
                      <ul>
                        <li>
                          <a href="job-cards-view.html">job-cards-view</a>
                        </li>
                        <li>
                          <a href="job-list-view.html">job-list-view</a>
                        </li>
                        <li>
                          <a href="job-details.html">job-details</a>
                        </li>
                        <li><a href="job-apply.html">job-apply</a></li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Job Search</a>
                      <ul>
                        <li>
                          <a href="job-cards-view.html">learning-list</a>
                        </li>
                        <li>
                          <a href="learning-detailed.html">learning-detailed</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Maps</a>
                      <ul>
                        <li><a href="map-js.html">Map-js</a></li>
                        <li>
                          <a href="vector-map.html">Vector Maps</a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="flyout-right">
                      <a href="#">Editors </a>
                      <ul>
                        <li>
                          <a href="summernote.html">Summer Note</a>
                        </li>
                        <li><a href="CK editor.html">CK editor</a></li>
                        <li>
                          <a href="simple-MDE.html">MDE editor</a>
                        </li>
                        <li>
                          <a href="ace-code-editor.html">ACE code editor </a>
                        </li>
                      </ul>
                      <i class="fa fa-angle-right"> </i>
                    </li>
                    <li>
                      <a href="knowledgebase.html">Knowledgebase </a>
                    </li>
                    <li><a href="support-ticket">Support Ticket</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- Page Sub Header end
          -->
        </div>
        <div class="col-xl-3 col-sm-5 box-col-4">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">
                <svg class="stroke-icon">
                  <use
                    href="../assets/svg/icon-sprite.svg#stroke-home"
                  ></use></svg
              ></a>
            </li>
            <li class="breadcrumb-item">Form Controls</li>
            <li class="breadcrumb-item active">Base Inputs</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h4>Course Details</h4>
          </div>
          <div class="card-body">
            <form class="row g-3 needs-validation custom-input" novalidate="">
              <!-- Row 1: Course title, Number of Lessons, Students Enrolled -->
              <div class="d-flex justify-content-between" style="gap: 10px">
                <div class="col-md-5 position-relative flex-grow-2">
                  <label class="form-label" for="validationTooltip01"
                    >Course Title</label
                  >
                  <input
                    class="form-control"
                    id="validationTooltip01"
                    type="text"
                    placeholder="Course title"
                  />
                </div>
                <div class="col-md-3 position-relative flex-grow-1">
                  <label class="form-label" for="validationTooltip02"
                    >Number of Lessons</label
                  >
                  <input
                    class="form-control"
                    id="validationTooltip02"
                    type="number"
                    placeholder="No. of Lessons"
                  />
                </div>
                <div class="col-md-3 position-relative flex-grow-1">
                  <label class="form-label" for="validationTooltip03"
                    >Students Enrolled</label
                  >
                  <input
                    class="form-control"
                    id="validationTooltip03"
                    type="number"
                    placeholder="Students enrolled"
                  />
                </div>
              </div>

              <!-- Row 2: Course Description, Category, Skill Level -->
              <div
                class="d-flex justify-content-between"
                style="gap: 10px; margin-top: 10px"
              >
                <div class="col-md-4 position-relative">
                  <label class="form-label" for="validationTooltip04"
                    >Course Description</label
                  >
                  <input
                    class="form-control"
                    id="validationTooltip04"
                    type="text"
                    style="height: 100px"
                    placeholder="Course Description"
                  />
                </div>

                <div class="col-md-4 position-relative flex-grow-1">
                  <label class="form-label" for="validationTooltip02"
                    >About Course</label
                  >
                  <input
                    class="form-control"
                    id="validationTooltip02"
                    type="text"
                    style="height: 100px"
                    placeholder="About course"
                  />
                </div>

                <div class="col-md-4 position-relative flex-grow-1">
                  <label class="form-label" for="validationTooltip06"
                    >Skill Level</label
                  >
                  <select class="form-select" id="validationTooltip06">
                    <option selected="" disabled="" value="">Choose...</option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Advanced</option>
                  </select>
                </div>
              </div>

              <!-- Row 3: Course Template/Preview Upload -->
              <div class="col-md-4 position-relative mt-3">
                <label class="form-label" for="Course-Template"
                  >Course Template/Preview</label
                >
                <input
                  class="form-control"
                  id="Course-Template"
                  type="file"
                  accept="image/*"
                  required
                  onchange="validateImageSize()"
                />
                <small class="text-danger d-none" id="image-size-error"
                  >Image must be exactly 1280px by 920px.</small
                >
              </div>
              <div class="col-md-4 position-relative mt-3">
                <label class="form-label" for="Course-Template"
                  >Course List Template/Preview</label
                >
                <input
                  class="form-control"
                  id="Course-Template"
                  type="file"
                  accept="image/*"
                  required
                  onchange="validateImageSize()"
                />
                <small class="text-danger d-none" id="image-size-error"
                  >Image must be exactly 1280px by 920px.</small
                >
              </div>

              <div class="col-md-4 position-relative mt-3">
                <label class="form-label" for="lastUpdatedDate"
                  >Last Updated Date</label
                >
                <input
                  class="form-control"
                  id="lastUpdatedDate"
                  type="date"
                  required
                />
              </div>

              <div class="col-md-4 position-relative">
                <label class="form-label" for="validationTooltip05"
                  >Category</label
                >
                <select class="form-select" id="validationTooltip05">
                  <option selected="" disabled="" value="">Choose...</option>
                  <option>Design</option>
                  <option>Development</option>
                  <option>Editing</option>
                  <option>Music</option>
                </select>
              </div>

              <div class="col-md-6 position-relative mt-3">
                <label class="form-label" for="whatWillYouLearn"
                  >What will you Learn?</label
                >
                <textarea
                  class="form-control"
                  id="whatWillYouLearn"
                  rows="5"
                  placeholder="Describe what students will learn in this course..."
                  required
                ></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-xl-12 mt-4">
        <div class="card">
          <div class="card-header pb-0">
            <h4>Course Curriculum</h4>
          </div>
          <div class="card-body">
            <!-- Curriculum Section -->
            <div class="container">
              <!-- Curriculum Row -->
              <div class="row g-3 mb-4">
                <!-- Lesson Title and Time Input -->
                <div class="col-md-4">
                  <label class="form-label" for="lessonTitle"
                    >Lesson Title</label
                  >
                  <input
                    class="form-control"
                    id="lessonTitle"
                    type="text"
                    placeholder="Intro to Course and Histudy"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="lessonCount"
                    >Number of Lessons</label
                  >
                  <input
                    class="form-control"
                    id="lessonCount"
                    type="text"
                    placeholder="4 Lessons"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label class="form-label" for="lessonDuration"
                    >Total Duration</label
                  >
                  <input
                    class="form-control"
                    id="lessonDuration"
                    type="text"
                    placeholder="15m 10s"
                    required
                  />
                </div>
              </div>

              <!-- File Upload Section for Each Content Type -->
              <div class="row g-3">
                <!-- Video File Upload -->
                <div class="col-md-4">
                  <label class="form-label" for="videoFile"
                    >Video: Course Intro</label
                  >
                  <input
                    class="form-control"
                    id="videoFile"
                    type="file"
                    accept="video/*"
                    required
                  />
                  <small>20 min Preview</small>
                </div>

                <!-- Audio File Upload -->
                <div class="col-md-4">
                  <label class="form-label" for="audioFile"
                    >Audio: Incididunt ut labore et dolore</label
                  >
                  <input
                    class="form-control"
                    id="audioFile"
                    type="file"
                    accept="audio/*"
                    required
                  />
                  <small>Audio Preview</small>
                </div>

                <!-- PDF File Upload -->
                <div class="col-md-4">
                  <label class="form-label" for="readingFile">Reading: </label>
                  <input
                    class="form-control"
                    id="readingFile"
                    type="file"
                    accept=".pdf"
                    required
                  />
                  <small>PDF Reading Material</small>
                </div>
              </div>

              <!-- Additional Curriculum Sections -->
              <!-- Copy and paste the above blocks to add more sections for each curriculum item -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6" style="height: 600px">
        <div class="card height-equal">
          <div class="card-header pb-0">
            <h4>Instructor Information</h4>
          </div>
          <div class="card-body custom-input">
            <form class="row g-3">
              <!-- Instructor Name -->
              <div class="col-md-6">
                <label class="form-label" for="first-name"
                  >Instructor Name</label
                >
                <input
                  class="form-control"
                  id="first-name"
                  type="text"
                  placeholder="Name"
                  aria-label="Name"
                  required
                />
              </div>

              <!-- Instructor Profile Upload -->
              <div class="col-md-6">
                <label class="form-label" for="formFile"
                  >Instructor Profile</label
                >
                <input
                  class="form-control"
                  id="formFile"
                  type="file"
                  required
                />
              </div>

              <div class="col-md-5 position-relative">
                <label class="form-label" for="validationTooltip04"
                  >About instructor</label
                >
                <input
                  class="form-control"
                  id="validationTooltip04"
                  type="text"
                  style="height: 100px"
                  placeholder="About instructor"
                />
              </div>

              <div class="col-md-3 position-relative flex-grow-1">
                <label class="form-label" for="validationTooltip02"
                  >Number of Courses</label
                >
                <input
                  class="form-control"
                  id="validationTooltip02"
                  type="number"
                  placeholder="No. of courses"
                />
              </div>
              <div class="col-md-3 position-relative flex-grow-1">
                <label class="form-label" for="validationTooltip03"
                  >No of students</label
                >
                <input
                  class="form-control"
                  id="validationTooltip03"
                  type="number"
                  placeholder="No of students"
                />
              </div>
            </form>
          </div>
        </div>
      </div>

      <div
        class="col-xl-6"
        style="margin-top: -600px; margin-left: 600px; width: 580px"
      >
        <div class="card height-equal">
          <div class="card-header pb-0">
            <h4>Pricing details</h4>
          </div>
          <div class="card-body custom-input">
            <form class="row g-3">
              <div class="col-12">
                <div class="card-wrapper border rounded-3 checkbox-checked">
                  <h6 class="sub-title">Pricing type</h6>
                  <div class="radio-form">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        id="validationFormCheck25"
                        type="radio"
                        name="radio-stacked"
                        required=""
                      />
                      <label
                        class="form-check-label"
                        for="validationFormCheck25"
                        >Free</label
                      >
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        id="validationFormCheck23"
                        type="radio"
                        name="radio-stacked"
                        required=""
                      />
                      <label
                        class="form-check-label"
                        for="validationFormCheck23"
                        >Paid</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <label class="form-label" for="first-name">Price</label>
                <input
                  class="form-control"
                  id="price"
                  type="number"
                  placeholder="Price"
                  aria-label="Price"
                  required
                />
              </div>
            </form>
          </div>
        </div>
        <div class="submit-form">
          <div class="submit" style="margin-left: -100px">
            <button class="btn btn-primary" type="submit">Submit Form</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

<script>
  function validateImageSize() {
    const input = document.getElementById("Course-Template");
    const errorText = document.getElementById("image-size-error");

    if (input.files && input.files[0]) {
      const img = new Image();
      img.src = URL.createObjectURL(input.files[0]);

      img.onload = function () {
        // Check if the image dimensions are exactly 1280x920
        if (img.width === 920 && img.height === 1280) {
          errorText.classList.add("d-none"); // Hide error if dimensions match
        } else {
          errorText.classList.remove("d-none"); // Show error if dimensions don't match
          input.value = ""; // Clear the input
        }
        URL.revokeObjectURL(img.src); // Clean up
      };
    }
  }
</script>

{% endblock %}
